<div class="footer-dark ">
    <footer>
        <div class="container ">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a routerLink="/recepcao">Inicio</a></li>
                        <li><a routerLink="/entrar">entrar</a></li>
                        <li><a routerLink="/cadastrar">Cadastrar</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Sobre</h3>
                    <ul>
                        <li><a routerLink="/menu">Site</a></li>
                        <li><a routerLink="/equipe">Nosso time</a></li>
                        <li><a routerLink="/contato">Contatos</a></li>
                    </ul>
                </div>
                
                <div class="col-md-6 item text">
                    <h3>O que somos</h3>
                    <p>Nosso PI tem como objetivo ajudar pequenos produtores e ONGs a ajudar pessoas em vulnerabilidade social.</p>
                </div>
                <div class="col d-flex justify-content-center ">
                    <ul>
                    <a href="" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="https://github.com/sustentatechg3" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </ul>
                    
                </div>
               
            </div>
            <p class="copyright">SustentaTech © 2022 - Todos os direitos reservados</p>
        </div>
    </footer>
</div>