<app-header></app-header>
<header class="container">

    <div id="carouselMain" class="carousel carousel-dark slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <!-- primeiro slide -->
        <li data-target="#carouselMain" data-slide-to="0" class="active"></li>
        <!-- segundo slide -->
        <li data-target="#carouselMain" data-slide-to="1" class="active"></li>
        <!-- terceiro slide -->
        <li data-target="#carouselMain" data-slide-to="2" class="active"></li>
      </ol>
      <!-- primeiro slide -->
      <div class="carousel-inner">
        <div class="carousel-item active text-center" data-interval="3000">
          <img src="../../assets/img/slides/slide01.jpg" alt="" class="img-fluid d-none d-md-block">
          <img src="../../assets/img/slides/slide01small.jpg" alt="" class="img-fluid d-block d-md-none">
        </div>
        <!-- segundo slide -->
        <div class="carousel-item text-center" data-interval="3000">
          <img src="../../assets/img/slides/slide01.jpg" alt="" class="img-fluid d-none d-md-block">
          <img src="../../assets/img/slides/slide01small.jpg" alt="" class="img-fluid d-block d-md-none">
        </div>
        <!-- terceiro slide -->
        <div class="carousel-item text-center" data-interval="3000">
          <img src="../../assets/img/slides/slide01.jpg" alt="" class="img-fluid d-none d-md-block">
          <img src="../../assets/img/slides/slide01small.jpg" alt="" class="img-fluid d-block d-md-none">
        </div>
      </div>
      <!-- botoes -->
      <a class="carousel-control-prev" href="#carouselMain" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselMain" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Próximo</span>
      </a>
    </div>
  </header>