<div class="container mb-5 mt-5">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center text-secondary">Apagar Produto</h1>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <h4 class="text-center text-secondary">Você tem certeza que deseja apagar esse Produto? Os produtos serao
        permenetemente apagados.</h4>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-12">
      <h5 class="text-center text-primary"> {{produto.nome}}</h5>
    </div>
  </div>



  <div class="row">
    <div class="col md 12 d-flex justify-content-center">
      <button class="btn btn-danger mr-4" routerLink="/cadastrar-produto">Não</button>
      <button class="btn btn-success" (click)="apagar()">Sim</button>
    </div>
  </div>

  <div class="row d-flex justify.content-center align-text-center texte-center">
    <div
      class="card col-xl-2 col-lg-2 col-md-3 col-sm-12 d-flex align-items-strech text-center justify-content-center m-1 my-1">
      <div class="card-body">
        <img class="card-img-top" src="{{produto.foto}}" alt="Card image cap">
        <h5 class="card-title m-0">{{produto.nome}}</h5>
        <p class="card-text mt-3">{{produto.descricao}}</p>
        <p class="card-text mt-3">{{produto.valor | currency}}</p>


      </div>

    </div>
  </div>