<!-- imagem full -->
<div class="row">
  <div class="col-12 col-md-12 col-sm-12">
    <div class="botao">
      <button class="btn btn-info" routerLink="/entrar">Conheça</button>
    </div>
    
    <!-- <h1>Promoções</h1> -->
    <img class="banner card-img-top" src="https://i.imgur.com/YVPqoxG.png" alt="frutas" width="200px">
  </div>
</div>

<!-- imagem full -->







<!-- <div class="container-fluid">

  <div class="quemsomos my-5">
    <h1 class="hs" class="my-5 mx-5">Quem somos</h1>
  </div>

</div> -->

<!-- imagem full -->
<div class="row">
  <div class="col-12">
    <!-- <h1>Promoções</h1> -->
    <img class="banner card-img-top"
      src="https://media.discordapp.net/attachments/976239486218403890/998597070510362664/quem_somos_sustentatech.png?width=1194&height=671"
      alt="frutas">
  </div>
</div>

<!-- imagem full -->


<!-- imagem full -->
<div class="row mt-5">
  <div class="col-12">

    <!-- <h1>Promoções</h1> -->
    <img class="banner card-img-top" src="https://i.imgur.com/oVJY61t.jpg" alt="frutas">
  </div>
  <!-- <div class="col-m6">
    <img src="https://i.imgur.com/t4HkTCh.png" alt="">
  </div> -->
</div>

<!-- imagem full -->