<div class="b-bg ">
  <br>
  <h1 class="text-center mt-3 text-white">Equipe</h1>
  <br>
  <div class="equipe mt-4">


    <div class="container">

      <div class="row ">

        <div class="col-lx-12">



          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner center-block">
              <div class="carousel-item active">
                <div class="row mr-auto text-center">

                  <div class="col-lg-3">


                    <h4 class="text-black-50">Allan Baad</h4>
                    <p>Este é o Allan, 24 anos, mora em São Paulo Capital. Atualmente se formando em Análise e
                      Desenvolvimento de
                      Sistemas e recém formado Desenvolvedor Fullstack Web Java Jr.
                    </p>

                    <li>
                      <a href="https://www.linkedin.com/in/baadallan/" target="_blank" class="icoLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                      <a href="https://github.com/dev-ballan" target="_blank" class="icoGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>

                  </div>

                  <div class="col-lg-3">

                    <img style="filter: grayscale();" src="https://i.imgur.com/Zi4QlKi.png" alt="foto Allan"
                      class="img-responsive">

                  </div>


                  <div class="col-lg-3">

                    <img style="filter: grayscale();" src="https://i.imgur.com/vza5mk0.png" alt="foto André"
                      class="img-responsive">

                  </div>

                  <div class="col-lg-3">

                    <h4 class="text-black-50" >André Gustavo</h4>
                    <p>Esse é o André, 20 anos, morador de São José dos Campos, SP. Desenvolvedor Full-Stack Java Jr
                      pela Generation.</p>

                    <li>

                      <a href="https://www.linkedin.com/in/andr%C3%A9-gustavo-821224238/" target="_blank"
                        class="icoLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                      <a href="https://github.com/andre0101020" target="_blank" class="icoGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>

                  </div>

                </div>
              </div>

              <div class="carousel-item">
                <div class="row mr-auto text-center">

                  <div class="col-lg-3">

                    <h4 class="text-black-50">Carol Santos</h4>
                    <p>Essa é a Carolina, 29 anos, moradora de Osasco, São Paulo. Tecnóloga em Gestão Financeira pela
                      Fatec de Osasco e Desenvolvedora Full-Stack Java Jr pela Generation.</p>

                    <li>
                      <a href="https://www.linkedin.com/in/carolinab-santos/" target="_blank" class="icoLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                      <a href="https://github.com/CarolBSantos" target="_blank" class="icoGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>

                  </div>

                  <div class="col-lg-3">

                    <img style="filter: grayscale();" src="https://i.imgur.com/4r2qk6f.png" alt="foto Carol"
                      class="img-responsive">

                  </div>

                  <div class="col-lg-3">

                    <img style="filter: grayscale();" src="https://i.imgur.com/rmM1Rbr.png" alt="foto Daiane"
                      class="img-responsive">

                  </div>

                  <div class="col-lg-3">

                    <h4 class="text-black-50">Daiane Silva</h4>
                    <p>Essa é a Daiane, 28 anos, moradora de São Paulo. Mestre em biologia Molecular pela universidade
                      de São Paulo e Desenvolvedora Full-Stack Java Jr pela Generation Brasil.</p>

                    <li>
                      <a href="https://www.linkedin.com/in/daiane-silva-2b954417b/" target="_blank" class="icoLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                      <a href="https://github.com/msilvadaiane" target="_blank" class="icoGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>

                  </div>

                </div>
              </div>
              <div class="carousel-item">
                <div class="row mr-auto text-center">

                  <div class="col-lg-3">

                    <h4 class="text-black-50">Jonathan Henrique</h4>
                    <p>Esse é o Jonathan, 25 anos, morador de Diadema, São Paulo. Formado Téc. em Audiovisual. Formando
                      em Eng. de Software, Téc. em desenvolvimento de Sistemas e hoje Desenvolvedor Full-Stack Java Jr
                      pela Generation.</p>

                    <li class="than">
                      <a href="https://www.linkedin.com/in/jonathan-henrique-/" target="_blank" class="icoLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                      <a href="https://github.com/jonathanhenriques" target="_blank" class="icoGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>

                  </div>

                  <div class="col-lg-3">

                    <img style="filter: grayscale();" src="https://i.imgur.com/Y8quqJJ.png" alt="foto Jonathan"
                      class="img-responsive">

                  </div>

                  <div class="col-lg-3">

                    <img style="filter: grayscale();" src="https://i.imgur.com/rlVPNWQ.png" alt="foto Talita"
                      class="img-responsive">

                  </div>

                  <div class="col-lg-3">

                    <h4 class="text-black-50">Talita Alice</h4>
                    <p>Essa é a Talita, 27 anos, moradora da zona sul de São Paulo. Formada em Téc. de Enfermagem, e
                      hoje Desenvolvedora Full-Stack Java Jr pela Generation Brasil.
                    </p>

                    <li>
                      <a href="https://www.linkedin.com/in/talita-alice-santos-4b46bb210/" target="_blank"
                        class="icoLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                      <a href="https://github.com/talitalice" target="_blank" class="icoGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
