.img-bg {
  background-color: green;
  
  /* background: linear-gradient(rgba(0, 0, 0, 0.348), rgba(0, 0, 0, 0.451)), url('https://i.imgur.com/wzlBTRX.png');
    max-width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

  /* background: rgba(0, 0, 0, 0.37) url('https://i.imgur.com/wzlBTRX.png');
  background: rgb(rgb(9, 20, 234)); */
  width: 100%;
  height: 100vh;
  padding: 80px 0;
  /* background-position: center;
  /* background-position: 30% 45%;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken; */



}

.container {
  background: rgba(0, 0, 0, 0.445);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 50px;
  background-blend-mode: darken;
  color: white;



}

h4 {
  color: rgb(11, 218, 11);
  border-bottom: solid rgb(3, 144, 3);
  padding-bottom: 10px;
  margin-top: 20px;
  text-align: justify;
}

.marginCol {
  padding-left: 0px;
  padding-right: 0px;
}

li {
  text-align:center;
  list-style-type: none;
  margin-top: 23px;
  
}

.than{
  margin-top: 9px;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

p {
  text-align: left;
  margin: 0px
}

.fa {
  font-size: 25pt;
  color: rgba(255, 255, 255, 0.541);
  margin: 0;
  padding: 8px;
  list-style: none;
}

.fa-github:hover{
  color: rgb(255, 253, 253)
}

.fa-linkedin-square:hover{
    color: rgb(4, 108, 199)
}

.b-bg {
  background-image: url();
  min-height: 90vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50%, 27%, 23%;
  background-color: #c5f094;
  border-radius: 2%;

}